{% extends 'base.html' %}
{% block title%}
Register paghe
{% endblock%}

{% block content%}
 
<body class="text-center "> 

<div class="container">
    <h1 class="h3 mb-3 font-weight-normal"> Please Add User</h1> <br>
    <form class="form-register"action="" method="POST" enctype="multipart/form-data">
        {{form.hidden_tag() }}
      
        {{form.username.label()}}
        {{form.username(class="form-control", placeholder="User Name") }}

        {{form.date.label()}}
        {{form.date(class="form-control", placeholder="User Name") }}

        {{form.time.label()}}
        {{form.time(class="form-control", placeholder="User Name") }}
         <input style="background-color:white ;border:none;" type="file" name="photo" accept="image/*" class="btn btn-info mt-3">
 <br>
        {{form.submit(class="btn btn-lg btn-block btn-primary")}}

        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <style>
           .form-register {
        color: red;
    }
            .form-control {
                border-bottom-color: red;
                color: red;
            }
        </style>
        <div style="color: red ;">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>

</body>
{% endblock%}