{% extends 'base.html' %} {% block title %} Product Arena {% endblock %} {%
block content %}
<style>
  .p_img{
    max-width: 55px;
    border-radius: 50%;
    
  }
</style>
<section class="home">
  <div class="container">
    <div class="row">
      <div class="info col">
      
        <img src="static/images/{{current_user.image}}" class="img-center img-fluid">
        <hr>
      </div>
   
      <div class="col">
       <span>My Profile</span>
       <h3 class="">Dr. {{current_user.first_name}}</h3>
      </div>
    </div>   
  <div class="container">
    <a class="nav-link" href="{{ url_for('add_patient_page') }}"
    ><i class="fa fa-solid fa-plus"></i
  ></a>  
  <span>Add New Patient</span>
  </div>
  <br><br>
  - Today
    </div>  
    
      {% for patient in patients %}
      
      <div class="container">
        <p>{{ patient.date}}  </p>
        <div class="row px-4">
          
          <div class="column-6">
          <img class="p_img" src="static/images/{{ patient.image}} ">
        </div>
      <div class="column-6">
          <p>{{ patient.username}}</p>
          
          <p>{{ patient.time}} </p>
        </div>
        </div>
          
      </div>
               
            <br>
        {% endfor %}
     
</section>

{% endblock %}
