{% extends 'base.html' %} {% block title %} Product Arena {% endblock %} {%
block content %}
<section class="home">
  <div class="container">
    <div class="row">
      <div class="info col">
      
        <img src="static/images/{{current_user.image}}" class="img-center img-fluid">
      </div>
   
      <div class="col">
       <span>My Profile</span>
       <h3 class="">Dr. {{current_user.first_name}}</h3>
      </div>
    </div>   
    </div> <br>
    <div class="">
      {% for patient in patients %}
             {{ patient.name}}
             {{patient.time}}
             {{patient.symptoms}} <br>
        {% endfor %}
    </div>
</section>

{% endblock %}
