{% extends 'base.html' %}
{% block title %}
  Product Arena
{% endblock %}
{% block content %}
  <div class="container overflow-hidden p-3 p-md-5 m-md-3 ">
    <div class="row">
      <h4>Ime i prezime <h4>
      <p class="font-weight-normal">
        Razvoj softwera je kao slaganje lego kockica, putem kada se prave programi
        koji izvrsavaju odredjenu radnju te sluze svrsi. Cilj programiranja nije
        samo finalizacija zadataka, cilj je da napravljeni kod ima smisao i da 
        izvrsava ono sto mu je svrha!
      </p>
    </div>   
  ss
 
{% endblock %}